.TasksList {
	list-style: none;
	margin: 5vh auto;
	padding: 0;
}

.TaskItem {
	margin: 1vh 1vw;
	padding: 1vh 1vw;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.TaskItemButtons {
	display: flex;
	flex-direction: row;
}

.TaskItemButton {
	margin: 5px;
	background: #50005a;
	border: 1px solid #50005a;
	color: white;
	padding: 0.5rem 1.5rem;
	border-radius: 15px;
	cursor: pointer;
}
