.TasksCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    margin: 2rem 3rem;
    /* border: 210px; */
    width: 80%;

    border-radius: 15px;
}

.SearchBox {
    width: 90%;
    max-width: 40rem;
    margin: 1rem auto;

}

.TasksList {
    list-style: none;
    width: 90%;
    max-width: 40rem;
    margin: 1rem auto;
    padding: 0;
}

.TaskItem {
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TaskItemButton {
    margin: 5px;
    background: #50005a;
    border: 1px solid #50005a;
    color: white;
    padding: .5rem 1.5rem;
    border-radius: 15px;
    cursor: pointer;
}